h1 {

}

.landing-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1280px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    margin: auto 40px;
    padding: 45px;
}

.landing-form input, textarea{
    display: flex;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 20px;
    padding: 20px;
    font-size: 14px;
  }

#submit-btn {
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    background-color: hsl(32, 51%, 63%, 0.7);
}

textarea {
    resize: none;
}

