@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;;
    font-size: 16px;
  }

  .section-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../img/capa.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness();
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  
  .container {
    text-align: center;
    color: white;
  }
  
  h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 4rem;
    font-weight: 400;
  }
  
  p {
    font-size: 1.15rem;
    letter-spacing: 3px;
    margin: 20px 0 40px;
  }
  
  .home-button {
    color: white;
    text-decoration: none;
    border: 2px white solid;
    padding: 10px 15px;
  }
  
  .home-button:hover,
  .home-button:focus {
    background: hsl(0, 100%, 100%, .2);
    outline: none;
  }
  
  .section-two {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .container-two {
    display: flex;
    padding: 50px;
    gap: 20px;
    width: 100%;
  }
  
  .content h1 {
    font-size: 2.75rem;
  }
  
  .content h1::after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #D1A370; 
  }
  
  .content p {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }
  
  .content-image img {
    width: 300px;
    object-fit: scale-down;
  }
  
  @media (max-width: 700px) {
    .section-two {
      height: 100%;
    }
    .container-two {
      flex-direction: column;
      height: 100%;
    }
  }

  .section-three {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  .container-three {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .container-three-content{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .section-four {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  .container-four {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 20px;
  }
  
  
  