<head>
    <link
      href="{{url_for('static', filename='css/carousel.css')}}"
      rel="stylesheet"
      media="screen"
    />
    </head>
    
{% block content %}
  
<div class="container-carousel">
	<div class="carousel">
		<input type="radio" id="carousel-1" name="carousel[]" checked>
		<input type="radio" id="carousel-2" name="carousel[]">
     <input type="radio" id="carousel-3" name="carousel[]">
		<input type="radio" id="carousel-4" name="carousel[]">
		<input type="radio" id="carousel-5" name="carousel[]">
		<ul class="carousel__items">
			<li class="carousel__item"><div><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tempor justo quis egestas hendrerit. Fusce laoreet eu lectus id consequat. - Marilene dos Santos</p></div></li>
			<li class="carousel__item"><div><p>Donec facilisis vestibulum odio, consectetur lobortis augue ultrices sit amet. Phasellus blandit ligula eget orci gravida malesuada. Mauris consequat faucibus augue sit amet pellentesque. - Carlos Emanuel da Silva</p></div></li>
			<li class="carousel__item"><div><p>Fusce maximus massa sit amet augue suscipit, ut hendrerit nibh condimentum. Integer sodales, ante vitae condimentum venenatis, orci orci vulputate nibh, eget placerat sem quam ut odio. - Thomas de Aquino</p></div></li>
			<li class="carousel__item"><div><p>Nam consectetur tellus a congue vehicula. Donec ligula risus, dignissim id nisi non, dignissim ultricies mauris. Nulla ante magna, vestibulum eu enim in, placerat rhoncus tortor. - Ana Carolina Almeida</p></div></li>
			<li class="carousel__item"><div><p>Vivamus facilisis ornare dolor, at condimentum enim scelerisque id. Integer a risus interdum, vehicula justo id, tempus sapien. Proin consequat consequat nisi tempor posuere. Morbi feugiat rutrum luctus. - Emanuel Aquiles</p></li>
		</ul>
     <div class="carousel__prev">
     	<label for="carousel-1"></label>
     	<label for="carousel-2"></label>
     	<label for="carousel-3"></label>
     	<label for="carousel-4"></label>
     	<label for="carousel-5"></label>
     </div>
     <div class="carousel__next">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
       <label for="carousel-4"></label>
       <label for="carousel-5"></label>
     </div>
     <div class="carousel__nav">
       <label for="carousel-1"></label>
       <label for="carousel-2"></label>
       <label for="carousel-3"></label>
       <label for="carousel-4"></label>
       <label for="carousel-5"></label>
     </div>
   </div>
 </div>

{% endblock %}


