<head>
  <link
    href="{{url_for('static', filename='css/footer.css')}}"
    rel="stylesheet"
    media="screen"
  />
  </head>

{% block content %}

<footer>
    <div class="footer-container">
      <div class="footer-content">
      </div>  
      <div class="footer-content">
        <h6>Social</h6>
        <ul>
          <li><a href="">Facebook</a><li>
          <li><a href="">Instagram</a><li>
          <li><a href="">Twitter</a><li>
        </ul>
      </div>
      
      <div class="footer-content">
        <h6>Service</h6>
        <ul>
          <li><a href="">Compare</a><li>
          <li><a href="">Download</a><li>
          <li><a href="">Feedback</a><li>
          <li><a href="">Bug Report</a><li>
        </ul>
      </div>
      
      <div class="footer-content">
        <h6>Activity</h6>
        <ul>
          <li><a href="">Influencers</a><li>
          <li><a href="">Affiliate</a><li>
          <li><a href="">Co-Branding</a><li>
          <li><a href="">Honor</a><li>
          <li><a href="">Give Away</a><li>
        </ul>
      </div>
      
    </div>
  </footer>

{% endblock %}
