<head>
<link
  href="{{url_for('static', filename='css/form-code.css')}}"
  rel="stylesheet"
  media="screen"
/>
</head>

{% block content %}

<div class="landing-form">
<h1>Fale Conosco</h1>
<form id="embedded-form">
  <input type="text" id="name" name="name" placeholder="Nome" />
  <input type="email" id="email" name="email" placeholder="Email" />
  <textarea name="comentario" id="comentario" placeholder="Comentário"></textarea>
<input id="submit-btn" type="submit" value="Enviar" />
</form>
</div>

{% endblock %}


<script>
  const form = document.getElementById('embedded-form');

  form.addEventListener('submit', (event) => {
    event.preventDefault();
    const inputFieldsValues = {
      name : form.elements['name'].value,
      email : form.elements['email'].value,
      comment: form.elements['comentario'].value,
    }

    if(inputFieldsValues.name === '')
    alert(`Nome não pode estar vazio!`)
    else if (inputFieldsValues.email === '')
    alert(`Email não pode estar vazio!`)

    const formData = new FormData();
    formData.append('Name', inputFieldsValues.name);
    formData.append('Email', inputFieldsValues.email);
    formData.append('Comment', inputFieldsValues.comment)

    var response = new Promise(resolve => {
      const request = new XMLHttpRequest();
     request.open('POST', 'add_comment', true);
     request.send(formData);
    }).then(console.log(response))
  })
   
</script>