<head>
<link
  href="{{url_for('static', filename='css/form-code.css')}}"
  rel="stylesheet"
  media="screen"
/>
</head>


{% block content %}

<h1>Fale Conosco</h1>
<form class="landing-form" id="embedded-form">
  <input type="text" name="name" placeholder="Name" />
  <input type="email" name="email" placeholder="Email" />
  <input type="text" name="telefone" placeholder="Telefone" />
  <textarea name="comentario" placeholder="Comentário"></textarea>
<input id="submit-btn" type="submit" value="Submit" />
</form>

{% endblock %}
